<!-- Navigation-->
<%= render '/shared/dynamic_navbar' %>

<!-- Masthead-->
<% main_image_path = SiteConfig.first.reload.main_image_path %>
<header class="masthead" style='background-image: url("<%= main_image_path %>")'>
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <% color = main_image_path.blank? ? '#000' : '#fff' %>
        <h1 class="mx-auto main-text" style="color:<%= color %>">FieldApp</h1>
        <%#= link_to locations_path, class: "btn btn-primary"  do %>
          <!-- Browse <i class="fas fa-search"></i> -->
        <%# end %>
      </div>
    </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="mb-4">About FieldApp</h2>
        <p class="text-black-50">
           FieldApp is a multi-media production company, intent on delivering the creative vision of our clients on time, and on budget . With years of experience, and partners around the globe, we are capable of creating what you need, where you need it.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <h2 class="text-center">Featured Locations</h2>
  <p class="mb-5 text-center">
    <%= link_to "See all", locations_path, class: "bam-link" %>
  </p>

  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7">
        <%#= image_tag("https://field-app-assets.s3.amazonaws.com/interior_shot_1.jpg", class: "img-fluid mb-3 mb-lg-0") %>
        <img class="img-fluid mb-3 mb-lg-0" src="https://field-app-assets.s3.amazonaws.com/interior_shot_1.jpg" alt="..." />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Present perfect location</h4>
          <p class="text-black-50 mb-0">An example of where you can add a featured location image of a project, or anything else, along with a description.</p>
        </div>
      </div>
    </div>
      <!-- Project One Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6">
          <%#= image_tag("collov-home-design-4_jQL4JCS98-unsplash.jpg", class: "img-fluid") %>
          <img class="img-fluid" src="https://field-app-assets.s3.amazonaws.com/scandi-house.jpg" alt="..." />
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Exterior Shot</h4>
                <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                <hr class="d-none d-lg-block mb-0 ms-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
        <div class="col-lg-6">
          <%#= image_tag("pixasquare-4ojhpgKpS68-unsplash.jpg", class: "img-fluid") %>
          <img class="img-fluid" src="https://field-app-assets.s3.amazonaws.com/office_shot.jpg" alt="..." />
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Interior Shot</h4>
                <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                <hr class="d-none d-lg-block mb-0 me-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<!-- Signup -->
<!-- <section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Subscribe to receive updates!</h2> -->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <!-- <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN"> -->
                    <!-- Email address input-->
                    <!-- <div class="row input-group-newsletter"> -->
                        <!-- div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div> -->
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                   <!--  <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div> -->
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <!-- <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section> -->
<!-- Contact-->
<section class="contact-section bg-black" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt bam-fa-icons mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">Nyack, NY</div> <br>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope bam-fa-icons mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50"><a href="#!">hello@fieldapp.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt bam-fa-icons mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">+1 (555) 555-5555</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
      <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
      <a class="mx-2" href="https://www.instagram.com/go.bamproductions/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; FieldApp 2022</div></footer>
<!-- Bootstrap core JS-->
<!-- Core theme JS-->
<!-- <script src="js/scripts.js"></script> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
